name: Laravel

on:
  push:
    branches: [ master ]

jobs:
  laravel-action:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: NPM Install
      run: npm i
    - name: NPM Production
      run: npm run prod

